
body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #666666;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto Condensed', sans-serif !important;
  font-weight: normal; 
  text-transform: uppercase;
  line-height: 1.5em;
  color: #333333;
 }

h2{
  font-size: 32px;
}
h1, h2,  h3 {
  margin: 2rem auto 3rem;
}
a{
  text-decoration: none;
}
img{
  border-radius: 3px;
}
.site-description{
  margin-left: 1rem;
font-size: 14px;
line-height: 18px;
text-transform: uppercase;
}
.primary-menu img{
  margin-top: 10px;
}
#site-header{
  position: sticky;
  top: 0;
  z-index: 7;
  padding: 10px 15px;
  box-shadow: 5px 3px 4px 2px #e4dede;
 }

.transparent{
  outline: 5px solid red;
  padding: 0 20%;
}
.transparent .site-description{
  display: none;
}
.transparent .menu-item{  
  padding: 5px 2px !important;
}
.menu-item:hover{
  background-color: rgba(255, 33, 34, 1);

}
.transparent ul.primary-menu{
  /* flex-wrap: nowrap; */
} 
.primary-menu li a {
  transition-duration: 0s !important;
}
.transparent .primary-menu:hover li a{
 display: block; 
 line-height: 0px;
}
.transparent .primary-menu li:hover a, .menu-item a:hover{
  color: #ffffff !important;
  line-height: 0px;
 }
.transparent .primary-menu li{
  margin: 0;
  /* margin-left: 10px; */
 }

.primary-menu:hover li a{
text-decoration: none; 
font-size: 14px; 
  }
  
.primary-menu:hover li a:active{
  text-decoration: none; 
  font-size: 14px; 
  color: rgba(255, 33, 34, 1);
  }
 .transparent .primary-menu:hover li a:active{
  color: #ffffff !important;
  text-decoration: none;
  font-size: 14px;
 
  }

.bold-text {
  font-family: 'Roboto', serif;
  font-weight: 600;
  color: #4e4d4d;
  margin-bottom: 15px;
  line-height: 1.8em;
  font-size: 16px;
}
.container{
  max-width: 60%;
  margin: 0 auto;
  margin-top: 100px;
}
section {
  padding: 3rem 0;
  width: 100%;
}
.wrapper{
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: space-between; 
 
}
.content-text{
  max-width: 60%;
}
.content-text p, .bold-text{
  text-align: justify; 
}
.content-text p{
  font-family: 'Roboto Condensed'; 
 font-size: 10;
 color: #666666;
 line-height: 1.8em;
}

.image-with_stamp-section{
  max-width: 45%;
  position: relative;
  margin-top: -155px;
}
.inner-box .text{
  font-size: 14px !important;
  width: 90%;
  line-height: 1.8em;
  color: #666666;
}
.image-with_stamp-section::before{  
  content: '';  
  background: url(../images/papka_ru.png);
  transform: rotate(11deg);
  background-size: contain;
  background-position-x: 50px;
  background-repeat: no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  min-width: 100%;
  object-fit: contain;
  height: 100%;
  z-index: 5;
}

.image-with_stamp-section .image {
  position: absolute;
  z-index: 6;
  width: 15vw;
  bottom: 0vh;
  left: 1vw;
}

.image{
  height: auto;
  max-width: 100%;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.letters h3{
   
    margin: 0px;
    background: none;
    line-height: 1.5em;
    font-size: 24px;
}
p {
  font-size: 18px;
  line-height: 27px;
  color: #2A2A2A; 
}

.facts-box, .row{
  display: flex;
  align-items: center;
  justify-content: space-between;
   
}

.facts-box .row{
  flex-wrap: wrap; 
}

.facts-box {
  width: 49%;
  /* min-height: 500px; */
  margin-bottom: 30px;
  border: 1px solid rgb(247, 243, 243); 
  padding: 5px;
} 
.facts-box:hover, .about .item:hover {
 box-shadow: 5px 3px 4px 2px #e4dede;
} 

.facts-box p{
  line-height: 1.8;
  text-align: left;
  font-size: 14px;

}


.row{
  width: 100%;
  margin-top: 50px;
  flex-wrap: wrap; 
}

.read-more{
  font-family: "Roboto Condensed", Sans-serif;
  font-weight: bold !important;
  background: rgba(255, 33, 34, 1);
  border: 1px solid rgba(255, 33, 34, 1);
  color: #fff !important;
  text-align: center;
  width: 100%;
  padding: 20px 30px;
  display: block;
  font-size: 16px;
  margin-top: 2rem;     
  text-decoration: none; 
  width: 154px;
}
.content-text .read-more{
  font-size: 12px;
  text-transform: uppercase;
}

.read-more p{
  color: #fff;  
  width: 154px;
}
.image-facty, .content-text{
  max-width: 45%;
  min-height: 250px;
}
.image-facty{
  /* max-width: 45%; */
  margin-right: 35px;
}
.image-facty img {
  min-height: 400px;
  min-width: 240px;
  object-fit: cover
}


.footer-widgets-outer-wrapper {
  padding: 0;
}
.footer-widgets-wrapper { 
    background-color: rgba(42, 42, 42, 1) !important;  
    background: url(../images/map-pattern-footer.png) center 75% no-repeat;
   }
.footer-widgets-wrapper h2{
    position: relative;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 25px;
    padding-bottom: 13px;
    color: #ffffff;
}

.footer-widgets-wrapper p{
    position: relative;
    margin-bottom: 25px;
    line-height: 1.9em;
    color: #bbbbbb;
}

.header-navigation-wrapper {
  padding: 0 15px;  
  
}
.footer-widgets-wrapper{
    /* padding-left: 100px; */
}

#site-footer {
  font-size: 1.8rem;  
  border-color: #dbdbdb;
  position: relative;
  padding: 10px 0;
  color: #cccccc;
  background: #131313;
  line-height: 24px;
  text-align: center;
  margin: 0;
  margin-top: -40px;
}

.footer-copyright {
  font-family: "Roboto Condensed", Sans-serif;
  font-weight: 400;
  color: #cccccc;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
}
.footer-credits {
  display: flex;
  position: static; 
  margin: 0 auto; 
}

.footer-nav-widgets-wrapper li{
  list-style-type: none; 
}

.footer-widgets-wrapper h2{
  position: relative;
}
.footer-widgets-wrapper h2::before{
  content: '';
  position: absolute;
  border-bottom: 2px solid #ff2122;
  width: 30px; 
  left: 50%;
  margin-left: -15px;
  bottom: 0;

}

.header-footer-group input{
  display: block;
  width: 80%;
  line-height: 24px;
  padding: 10px 40px 10px 25px;
  margin-left: 10%;
  height: 48px;
  font-size: 14px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.20);
  background: none;
  border-radius: 24px;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  transition: all 500ms ease;
}

.send-btn {
  position: absolute;
  right: 15%;
  top: -15%;
  width: 50px;
  height: 50px;
  text-align: center;  
  background: none;
  cursor: pointer;
}


.widget-content .text a{
  text-decoration: none;
  color:  #fafafa;
  outline: none;
  line-height: 1.9em;
  font-size: 14px;
}


.section-inner {
    margin-left: 0;
    margin-right: 0;
    max-width: 100vw;
    width: 100%;
    padding: 0;

}
.wp-block-columns{
    text-align: center;
}
.footer-widgets {
    margin: 0 auto;
    width: 90vw;
}

body.custom-background {    
    /* padding: 10px; */
}
.entry-content h2, .entry-content p, .entry-content li, .entry-content .wp-block-group{
 max-width: 100rem !important;
 font-family:"Roboto Condensed", Sans-serif;
 
}


.imag img {
    width: 80vw;
    height: auto;
    /* -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out; */
    /* margin-left: 50px; */
    margin-top: 20px;
}
/* .imag img:hover{
    width: 80vw;
    height: auto;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1); 
     margin-left: 50px;
    margin-top: 50px;
}    */
.link-button{
    font-family: "Roboto Condensed", Sans-serif;
    font-size: 28px;
    font-weight: 400;
    fill: #ED1212;
    color: #ED1212;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    padding: 8px 8px 8px 8px;
    text-decoration: none;        
}



.letters{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.letters li{
  list-style-type: none;
  text-align-last: left;
  
}
.letters h2, .letters ul, .letters li{
  margin: 0;
  margin-bottom: 20px;
}
.letters a{
  text-decoration: none;
  color: #2A2A2A;
}



section.tasks {
    background-color: #F2F2F2;        
    position: relative;
    padding-bottom:  100px;
} 

section.tasks .floated-text{   
  padding-left: 20%;
  top: 12rem;

}
section.tasks h2, section.fact h2{
  position: relative;
}


section.tasks h3 {
  line-height: 1.6em;
  font-size: 16px;
  text-transform: uppercase;
  color: #2a2a2a;
  font-weight: 700;
}

.inner-box{
  position: relative;
  display: block;
}
.block-tasks{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tasks .inner-box{
  width: 33%;  
  height: 350px;
}

.tasks .icon-box {
  position: relative;
  font-size: 32px;
  line-height: 1.4em;
  margin-bottom: 8px;
  transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  
}

.tasks h3 a {
  position: relative;
  line-height: 1.6em;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 7px;
  color: #2a2a2a;
  font-weight: 700;
}


section.fact .floated-text-fact{  
  position: absolute;
  max-width: 90vw;
  color: #f8f8f8;
  font-size: 100px;
  letter-spacing: 1px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1;
}

.icon-boxe .text {
  position: relative;
  line-height: 1.8em;
  padding: 0px 20px 0px 0px;
}

  /* /slider */
  
  .slider, .tasks {   
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    flex-wrap: nowrap;
  }

  #slider-2 .inner-box{   
    width: 24%;
    padding: 0 1%;
  }

  .lower-content, b {
    
    font-size: 14px;
}
  
/* стили анимации на верхнем слайдере */
/* .lower-content .wrapper p {  
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  width: 126px;
  height: 455px;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 8px 0px 8px 8px;
  transform-origin: 50% 50% 0px;
  opacity: 1;
  transform: translate(0px);
  visibility: visible;
} */


  
.lower-content .wrapper {
  position: relative;
  
}

.lower-content .wrappert p{
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 15px;
  color: #ffffff !important;

}

.header-slider > span{
  opacity: 0;
  transition-property: opacity;
}

.header-slider:hover > span {
  opacity: 1;
}

/* анимация */



ul.primary-menu {
  position: relative;
  margin: 0px;
  list-style: none;
  padding: 0px;
  font-family: 'Roboto Condensed', sans-serif;

}

.primary-menu li{
 padding: 0;
 position: relative;
 display: inline-block;
 float: left;
 padding: 15px 0px;
 margin-left: 30px;
 list-style: none; 
 padding: 0;
 margin: 0;

}
.primary-menu li a{
  position: relative;
  display: block;
  padding: 13px 15px;
  color: #333333 !important;
  text-align: center;
  line-height: 30px !important;
  /* letter-spacing: 0 !important; */
  text-transform: uppercase;
  font-weight: 600;
  opacity: 1;
  font-size: 14px;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.primary-menu li.current-menu-item > a{
  color: #ff2122 !important;
  text-decoration: none;
}
.primary-menu li.current-menu-item > a:hover{
  color:#ffffff !important;
  text-decoration: none;
}

.primary-menu li:active{
 text-decoration: none;
 }
 
 a:focus, a:hover {
  color: #23527c;

}

/* search */
.header-toggles {
  display: none;
}

.about {
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about .item{
  width: 45%;
  padding: 20px;
  margin-bottom: 7px;
  border: 1px solid rgb(247, 243, 243);
  text-align: center;
}

.about h3{
  color: #3a659f;
  font-size: 14.0pt; 
  margin: 0;
}

.about .wp-post-image{
  /* max-height: 100% ; */
  max-width: 100%;
  width: 500px;
  height: 380px;

  object-fit: cover;
  margin-bottom: 10px;
}

.about .item a{
  text-decoration: none;
}

.auto-container {
  height: 100px;
  position: static;
  width: 100%;
  max-width: 100%;
  padding: 0px 15px;
  margin: 0 auto;
  /* height: 20px; */
  font-size: 14px;
  color: #666666;
  line-height: 1.8em;
}
.auto-container a {
  color: #333333;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding: 1rem;
  border: 1px solid #D9D9D9;
  display: block;
  color: #2a2a2a;
}
.auto-container a:hover{
  color: rgba(255, 33, 34, 1);
}

#site-footer a {
  text-decoration: none;
  margin-right: 20px;
}


.fa-paper-plane-o:before{
  content: ''; 
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../fonts/paper-plane.svg); 
  background-size: contain;
  background-repeat: no-repeat;
}
.fa-vk:before  {
  content: ''; 
  display: inline-block;
  margin-top: 10px;
  width: 20px;
  height: 20px;
  background-image: url(../fonts/vk-social-network-logo.svg); 
  background-size: contain;
  background-repeat: no-repeat;
}
#contacts .social-links li a {
  margin: 10px auto;
  position: relative;
  display: block;
  width: 38px;
  height: 38px;
  text-align: center;
  background: rgba(255, 255, 255, 0.05);
      background-color: rgba(255, 255, 255, 0.05);
  color: #bbbbbb;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  transition: all 500ms ease;
}
.widget li:first-child, .widget li > ul, .widget li > ol {
  /* margin: 10px 42%; */
}
.facts-box h3{
  display: inline-block;
  height: 11rem;
 }
 .facts-box p{
  display: inline-block;
  height: 18rem;
  padding: 0;
 }

 .scroll-to-top {
  background: #ff2122;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 38px;
  text-align: center;
  z-index: 100;
  cursor: pointer;
  border-radius: 50%;
  background: #0a0a0a;
  display: none;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
} 
.navigation a{
  font-weight: normal !important;
border: 1px solid rgba(255, 33, 34, 1);
color: rgba(255, 33, 34, 1) !important;
text-align: center;
text-transform: uppercase;
width: 100%;
padding: 1.5rem;
display: block;
font-size: 16px;
margin-top: 2rem;
text-decoration: none;
width: 237px;
}
.modal-inner{
  border: 1px solid rgba(255, 33, 34, 1);
  padding: 1.5rem;
}
.search-modal .search-field {
  margin: 0;
 
  padding: 0 2rem 0 2rem; 
}
.search-modal form {    
  margin: 0;
  width: 90%;
}
button.search-untoggle {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  margin: 0;
  padding: 0 2.5rem;
}


.footer-top-visible .footer-nav-widgets-wrappe{
  margin-top: 0 !important;
}
.wpcf7 form.sent .wpcf7-response-output {
  border-color: #fff;
  color: #fff;
   border-radius: 5px;
   font-size: 14px;
}
.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
  border-color: rgba(255, 33, 34, 1);
  color: rgba(255, 33, 34, 1);
  border-radius: 5px;
  font-size: 14px;

}
.email-22 input{
  outline:none;
}

.widget_block ul {
  margin: 0 auto ;
}
.wrapper .wpcf7-form {
  margin: 20px 270px 040px 0px;
  padding: 50px 0px 050px 60px;
  background-color: #DFDFDF;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);

}
.wrapper .clearfix{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-group {
  margin-bottom: 15px;
}

.form-group input, textarea {
  width: 90%;
  border-radius: 5px;
}
.clearfix .text-content{
  font-size: 16px;
  width: 50%;
  border: none;
}
.wpcf7-form, .clearfix{
  /* border: none; */
}


@media screen and (max-width: 1056px){
  
  .tasks .inner-box {
      width: 50%;
      height: auto;      
  }
  .facts-box h3 {
    display: inline-block;
    height: 2rem;
  }
  .content-text {
    max-width: 100%;
    
  }
  .image-facty {
    max-width: 50%;
    margin-right: 2% ;
  
  }
  .image-facty img{
  
    width: 150px;
  }
  .facts-box {
    width: 100% !important;    
    justify-content: space-around !important;  
}  
.transparent .primary-menu li { 
  margin-left: 5px;
}
}
@media (min-width: 885px) and (max-width: 1024px){
  .image-facty img {
      width: 90%;
      max-width: 540px;
      max-height: 400px;
      min-width: 240px;
      object-fit: cover;     
      min-width: 540px;
  }
  .image-facty {
      max-width: 100%;    
  }
}
@media (min-width: 770px) and (max-width: 991px){
  #slider-2 .slider-buttons {
    margin-top: -400px;
    width: 97%;
  }
}

@media screen and (max-width: 770px){
    .wrapper .clearfix {
      display: block;   
       
  }
  .wrapper .wpcf7-form{
    margin: 10px;
    padding: 20px;
  }
  .mobile-menu {   
    margin: 0 auto;
    width: 90%;
  }
  .wrapper .wpcf7-form {
    margin: 0;
   
  }
  .mobile-menu a{
    /* color: #333333; */
  }
  .menu-modal .svg-icon{
    margin-right: 10px;
  }
  .modal-menu a:hover, .modal-menu li.current-menu-item > .ancestor-wrapper > a{
    text-decoration: none;   
  }
  .container {
    max-width: 90%;
    margin-top: 20px auto;
  }
  .image-with_stamp-section {
    max-width: 100%;
    position: relative;
    margin-top: -85px;
    left: -37px;
  } 

  .wrapper .content-text {
    max-width: 60%;
    
  }
  .tasks .inner-box {  
    text-align: center;
  }
  .fact .read-more{
    margin: 0 auto;
  }

  .image-with_stamp-section .image {
    position: absolute;
    z-index: 6;
    width: 18vw;
    bottom: 25vh;
    left: 30px;
  } 
  .imag img {
    width: 100vw; 
    margin-left: 0;
    margin-top: 0;
  }
  .footer-widgets-wrapper {
    padding-left: 0;
    margin: 0;
  }
  .footer-widgets {
    margin-left: 0;
    width: 100vw;
  }
  .wp-block-columns{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .send-btn {    
    right: 100px;
}
.footer-widgets .widget {
  margin-top: 0; 
}
  .widget-content .wp-block-column{
    min-width: 100%;
    padding: 0;
    margin-bottom: 0;
    margin: 0;
  } 
  .repression-box{
    display: block;
  }
  .about {
      display: block;      
  }
  .about .item {
    width: 100%;    
  }
  .about .wp-post-image{
    width: 100%;
  }
 
}
@media screen and (max-width: 576px){
  .facts-box {
    flex-wrap: wrap;
  }
  .block, .image-with_stamp-section {
    display: none;
  }
}
@media screen and (max-width: 430px){
  .container {
    max-width: 90%;
    margin-top: 10px;
}
  #slider-1 .read-more {   
    width: 50%;
    padding: 10px 5px;    
    font-size: 12px;
    margin-top: 2rem;

  }
  .top-slider .lower-content {
    margin-left: 20% !important;
    margin-top: -600px !important;
  }
  .btn-prev, .btn-next{
  width: 30px !important;
  height: 30px !important;
  margin: 0 !important;
  }  
  .wrapper .content-text{
    /* width: 95%; */
    max-width: 100%;
  }
  .link-button {
    font-size: 16px;   
  }
  .letters {
  flex-wrap: wrap;
  }
  #slider-2 .slider-buttons {
    margin-top: -150% !important;
    width: 100%;
  }
  .about .item {
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  .block-tasks{
    /* text-align: center; */
    margin: 0 auto;
  }
  .tasks .inner-box {
    width: 100%;
    min-height: auto;
  padding: 10px;

  }
  .image-facty, .content-text {
    max-width: 90%;
    min-height: 250px;
  }
  .img-paper{

  }

}

